/*style.css*/

html, body
{
	margin: 0;
	padding: 0;
}

header
{
	width: 100%;
	text-align: center;
	font-family: 'Noto Serif KR', sans-serif;
	font-size: 1.5em;
	background-color: rgb(73, 73, 73);
	color: white;
	padding: 1em;
}

li
{
	margin: 10px 0;
}

#notes-wrapper
{
	margin: 50px 0;
}

.page-content
{
	margin: auto;
	max-width: 1000px;
	width: 80%;
}

.info-date
{
	font-size: 0.75em;
	color: grey;
}

.note-btn
{
	font-size: 0.75em;
	border-radius: 100%;
}

.note-btn2
{
	border-radius: 10px;
	border: 1px solid rgb(73, 73, 73);
	padding: 5px 10px;
}

.note-edit
{
	border-radius: 10px;
	padding: 0 10px;
	border: 1px solid green;
	width: 85%;
}

.my_input
{
	padding: 10px 0;
	border: none;
	border-bottom: 2px solid grey;
	width: 85%;
}

.note-commands
{
	display: flex;
}

.note-commands form
{
	margin: 0 10px;
}